var config = {}

config.zencoder = 'ce887203717c4417267eeb7b59b55885';
config.outputUrl = 's3://zencodertesting/deleteme/sockets/';
config.notificationUrl = 'http://zensockets.jit.su/notify/';

module.exports = config;